#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.rc-steps-item-process .rc-steps-item-icon {
  background-color: hsl(var(--primary)) !important;
  border-color: hsl(var(--primary)) !important;
}

.rc-steps-item-process .rc-steps-item-icon > .rc-steps-icon {
  color: hsl(var(--background)) !important;
}

.rc-steps-item-finish .rc-steps-item-icon {
  border-color: hsl(var(--primary)) !important;
}

.rc-steps-item-finish .rc-steps-item-icon > .rc-steps-icon {
  color: hsl(var(--primary)) !important;
}

.rc-steps-item-finish .rc-steps-item-title::after {
  background-color: hsl(var(--primary)) !important;
}
